<section style="padding-top: 100px;">
    <div class="container ">
        <div class="row ">
            <div class="col-12 mb-3">
                <div class=" text-center">
                    <h3 >ORDER FAILURE </h3>
                    <p class="alert alert-danger align-content-center m-auto w-75"> <span
                            class="font-weight-bold">Sorry!</span> Your payment was failed,
                        Please make your order once again.</p>
                </div>
            </div>
            <div class="col-12 text-center">
                <img src="../../assets/images/people.png">
            </div>
        </div>
    </div>
</section>