<div class="container mt-5 pt-5">

        <p class="text-center"><strong>Frequently asked questions</strong></p>

    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    1.	What are Backpacking events?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Events that occur at a distance more than 500 kms (subjected to changes) from any given location and usually require more than a day to conclude are known as backpacking events. Backpacking events include events like trekking, hiking, etc.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    2.	What are City Freak events?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Events that occur within the city limits or the events usually concluding within 24 hours from the time of commencement are known as city freak events. City freak events include events like concerts, exhibitions, etc.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    3.	What are Sports Events?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Events involving activities like physical exertion or skill or both are known as a sports events.Sports events include sports and games like cricket, volleyball, chess etc.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    4.	What are Social / Education events?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Events involving activities that directly or indirectly help for transforming the society or something that is conducted on an educational purpose are known as social / Education events.Social/ Education events include events such as promotion of education, promoting gender equality etc.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   5.	What will be the login Id?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>User login Id is the mobile number provided by the user for authentication purpose during the time of signing up.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   6.	How to reset my password?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>In case if you want to reset your password you can create a new one in the profile page. Incase if you forgot the password you can reset it by clicking on reset password and entering your email Id in the sign in page.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   7.	Why do I need to choose a location?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>In order to serve you better and more accurately we require you to select the location from the dropdown to view the events from the selected location.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   8.	What are the available payment methods?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>You can make a purchase by using any of the following modes UPI, Credit card(AMEX, Cards, Visa, MasterCard, Diners, Rupay), Debit card(Visa, MasterCard, Rupay, Maestro), Net banking , Wallets(FreeCharge, OlaMoney, Oxigen, ItzCash, JioMoney, PayCash, Yes Pay), GPay</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    9.	Do I need to register to book a ticket?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Yes, you need to have a BCF Events account in order to make a purchase. This is to make sure that our customers have their booking confirmation with them and does not get into chaotic situation.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    10.	Is a mobile number or an email required to sign up to BCF Events?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Yes , a mobile number and an email are required to signup into BCF Events. We make sure that our customers provide these two details to help them by notify their booking confirmation.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   11.	How to access a coupon code?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>After selecting the number of tickets when you click on buy now , you will find an input box at the bottom of the check out page. You can redeem your coupon by entering the coupon code.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    12.	What is the refund policy?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Incases of ticket cancellation or event not likely to be happening the total amount will be refunded to the respective account of the customer from which the payment had been made within 3-5 business days.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	 <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    13.	What is the cancellation policy?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
			                         <p>For Detailed Cancellation Policy Check   <a [routerLink]="'/home/cancellation-policy'" >here</a> </p>
               
                
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	 <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   14.	When and how is the amount refunded after cancellation?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>In case of ticket cancellation or event not likely to be happening the total amount will be refunded to the respective account of the customer from which the payment had been made within 3-5 business days.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	 <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    15.	Is there any kind of age restriction ?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>It depends upon category to category and event to event. Users are expected to read the Itinerary and set of rules before making the payment for children</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	 <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    16.	How to know if a transaction is successful or not?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Once the payment is made, the user gets a confirmation mail or SMS or both. This notification contains the booking Id which is expected to be saved by the customer.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	 <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    17.	How will I get a booking summary and proof of booking?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Once the payment is made, the user gets a confirmation mail or SMS or both. This notification contains the booking Id which is expected to be saved by the customer. Incase of any confusion you can contact the customer support either by a call or email. You can call on the following number +91 8886 1234 08 to talk to the support team or mail us on support@bcfevents.com. </p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
		 <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   18.	What is a transaction ID ?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>The transaction ID is a special set of numbers that defines each transaction. With its help, bank workers can identify the purchase that was made by the customer. The transaction ID is always unique, which means that there are no transaction IDs that are the same.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
		
		
	 <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    21.	Will I be flooded with mails if I provide my contact Id or email?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>No, BCF Events uses the contact details to notify the users about their booking or sending a proof of booking to the user or about an event only.</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 border-gray">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    22.	How can I list an event with BCF Events?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <p>Reach us on 08886123408 if you are looking to list your event on BCF Events platform</p>
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
	<br>
<br>
</div>

