<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>Our Office</em></p>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <p class="ml-2">Address</p>
      <span class="mb-2 text-secondary d-flex justify-content-top row">
        <p class="mb-1 d-flex justify-content-top">
          <mat-icon class="mr-2">query_builder</mat-icon> Near 8th Battalion, Vutla Sattaiah Colony, Hanuman Nagar,
          Prashanth Nagar Colony, Kondapur, Hyderabad, Telangana 500084
        </p>
      </span>
      <span class="mb-2 text-secondary d-flex justify-content-top row">
          <p class="mb-1 d-flex justify-content-top">
            <mat-icon class="mr-2">phone</mat-icon>+91 88861 23408
          </p>
        </span>
        <span class="mb-2 text-secondary flex row">
            <p class="mb-1 d-flex justify-content-top">
              <mat-icon class="mr-2">email</mat-icon>support@bcfevents.com
            </p>
          </span>
      <!-- <p><span class="glyphicon glyphicon-phone"></span>Phone: +91 88861 23408</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: support@bcfevents.com</p> -->
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <br>
</div>