<div class="container mt-5 pt-5" style="text-align: justify;">
  <p class="text-center"><strong>Cancellation and Refund Policy</strong></p>
  <p>We put all efforts to service the order/s placed with us as per the specifications and timelines mentioned against
    each product/service/event. For any reason, unavoidable circumstances or beyond the limitations of the
    vendors’/service providers the order is being cancelled and refunded then the following policy shall govern such
    cancellation. In the event that the event booked by the Customer is cancelled the money paid for such event shall be
    fully refunded to the Customer. Such refund shall take a minimum of 1(one) 3(three) weeks to process and get
    refunded.
    However, in the event that the said event is cancelled with a malicious intent or with an intent to defraud the
    Customer, then the platform or BCFevents, shall not be held liable for such cancellation and there shall be no
    guarantee of refund in such cases. BCFevents shall not be accountable in the event that there are extra costs
    incurred
    as a result of organizing the events.</p>
  <p>In case a Customer decides to cancel his event request on his own accord, then BCFevents will coordinate with the
    service provider/vendor and will try to ensure that Customer receives a refund, but the decision to provide the
    Customer shall be the sole right and discretion of the vendor/service provider and the decision of the
    vendor/service
    provider shall be final. In the event the refund is refused by the vendor, BCFevents shall not be held liable or
    accountable by the Customer as the Website ensures to try and do everything in its power to guarantee that the
    refund
    is provided.</p>
  <p class="text-center"><strong>Cancellation process</strong></p>
  <p>The cancellation process is completely automated. Please login to your BCF Events account and find relevant
    instructions on your dashboard. You can choose your preferred mode of refund (Cash/Voucher) as per the policy below
    and your refund would automatically be processed by the system.</p>
  <p class="text-center"><strong>Cancellation by Customer</strong></p>
  <p>If you want to cancel your event with us, you must notify us at earliest via email or whatsapp us. Once we receive
    your notice, the cancellation process with take upshot. Please note that the following cancellation charges will
    apply:</p>
  <p>
    <br>*100% will be refunded, if cancelled *30 days before event embarks.
    <br>*75% will be refunded, if cancelled *20 days before event embarks.
    <br>*50% will be refunded, if cancelled *10 days before event embarks.
    <br>*No cancellation allowed or encouraged, less than *10 days before event embarks.
    <br>&nbsp;* = subject to change.
  </p>
  <p class="text-center"><strong>Cancellation by BCF Events</strong></p>
  <p>BCF Events reserves the right to cancel an event due to low enrollment or other circumstances which would make the
    event non-viable, in that case the full booking amount will be refunded to the customer in the same bank account
    used
    for booking.</p>
<br>
<br>
</div>
